Repository BariBori/moovsmart-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Cache node_modules, Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

Path conditions:
  Cache node_modules: any of: moovsmart/package-lock.json
  Lint FE: any of: moovsmart/**/*
  Compile FE: any of: moovsmart/**/*
  Compile BE: any of: src/**/*, pom.xml
  BE mvn test: any of: src/**/*, pom.xml
  FE karma test: any of: moovsmart/**/*
  Package BE: any of: src/**/*, pom.xml
  Package FE: any of: moovsmart/**/*

update BE lint
  .gitlab-ci.yml
Due: none

fix no picture problem on my bids
  moovsmart/src/app/components/property-list/property-list.component.html
  moovsmart/src/app/components/user/user-bids/user-bids.component.html
  moovsmart/src/app/components/user/user-saved-property/user-saved-property.component.html
Due: Lint FE, Compile FE, FE karma test, Package FE

log incoming message
  src/main/java/com/progmasters/moovsmart/controller/MessagingController.java
Due: Compile BE, BE mvn test, Package BE

update ci
  .gitlab-ci.yml
Due: none

log user login
  src/main/java/com/progmasters/moovsmart/controller/UserController.java
Due: Compile BE, BE mvn test, Package BE

fix code smell
  src/main/java/com/progmasters/moovsmart/controller/UserController.java
Due: Compile BE, BE mvn test, Package BE

fix user profile sidebar problem fix user property and user saved property table bottom margin problem
  moovsmart/src/app/components/user/user-home/user-home.component.css
  moovsmart/src/app/components/user/user-property/user-property.component.css
  moovsmart/src/app/components/user/user-property/user-property.component.html
  moovsmart/src/app/components/user/user-saved-property/user-saved-property.component.css
  moovsmart/src/app/components/user/user-saved-property/user-saved-property.component.html
Due: Lint FE, Compile FE, FE karma test, Package FE

fix user home sidebar header
  moovsmart/src/app/components/user/user-home/user-home.component.css
Due: Lint FE, Compile FE, FE karma test, Package FE

fix temporarily same bid alert on FE
  moovsmart/src/app/components/bid-form/bid-form.component.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

fix user bids picture opacity
  moovsmart/src/app/components/user/user-bids/user-bids.component.css
Due: Lint FE, Compile FE, FE karma test, Package FE

fix search form FE validation
  moovsmart/src/app/components/SearchForm/search/search.component.html
  moovsmart/src/app/components/SearchForm/search/search.component.ts
  moovsmart/src/app/components/SearchForm/search/validator.directive.ts
  moovsmart/src/app/models/propertyAdvertDetails.model.ts
  moovsmart/src/app/utils/validationHandler.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

fix search form FE validation
  moovsmart/src/app/components/SearchForm/search/search.component.ts
  moovsmart/src/app/utils/validationHandler.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

Modify search form validation min values BE
  moovsmart/src/app/components/SearchForm/search/search.component.ts
  moovsmart/src/app/components/property-form/property-form.component.html
  moovsmart/src/app/components/property-form/property-form.component.ts
  src/main/java/com/progmasters/moovsmart/domain/PropertyAdvert.java
  src/main/java/com/progmasters/moovsmart/dto/list/FilterPropertyAdvert.java
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

Add AuctionStatusType to BE + fix server time
  src/main/java/com/progmasters/moovsmart/domain/AuctionStatusType.java
  src/main/java/com/progmasters/moovsmart/domain/PropertyAdvert.java
  src/main/java/com/progmasters/moovsmart/domain/messaging/Message.java
  src/main/java/com/progmasters/moovsmart/dto/form/PropertyAdvertFormData.java
  src/main/resources/application.yaml
Due: Compile BE, BE mvn test, Package BE

add warning to homepage
  moovsmart/src/app/components/home/home.component.css
  moovsmart/src/app/components/home/home.component.html
  src/main/java/com/progmasters/moovsmart/dto/list/FilterPropertyAdvert.java
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

fix details button on user-bids
  moovsmart/src/app/components/user/user-bids/user-bids.component.css
  moovsmart/src/app/components/user/user-bids/user-bids.component.html
Due: Lint FE, Compile FE, FE karma test, Package FE

add mailing-address to appl.yaml modify property-list.component.html
  moovsmart/src/app/components/property-list/property-list.component.html
  moovsmart/src/app/components/property-list/property-list.component.ts
  src/main/resources/application.yaml
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

modify property-list.component.html
  moovsmart/src/app/components/property-list/property-list.component.html
Due: Lint FE, Compile FE, FE karma test, Package FE

add search result number to search-result.component.html
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.css
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.html
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

add placeholder image to search-result.component.html
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.html
Due: Lint FE, Compile FE, FE karma test, Package FE

modify table
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.css
  moovsmart/src/app/components/SearchForm/search-result/search-result.component.html
  moovsmart/src/app/components/property-form/property-form.component.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

fix bid-form button disable state add timezone to PropertyAdvertListItem.java today element
  moovsmart/src/app/components/bid-form/bid-form.component.html
  src/main/java/com/progmasters/moovsmart/dto/list/PropertyAdvertListItem.java
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

Add AuctionStatusType to FE
  moovsmart/src/app/components/property-form/property-form.component.html
  moovsmart/src/app/components/property-form/property-form.component.ts
  moovsmart/src/app/models/auctionStatusType.model.ts
  moovsmart/src/app/models/propertyAdvertDetails.model.ts
  moovsmart/src/app/models/propertyFormData.model.ts
  src/main/java/com/progmasters/moovsmart/controller/PropertyAdvertController.java
  src/main/java/com/progmasters/moovsmart/domain/AuctionStatusType.java
  src/main/java/com/progmasters/moovsmart/domain/PropertyAdvert.java
  src/main/java/com/progmasters/moovsmart/dto/form/AdvertStatusTypeOption.java
  src/main/java/com/progmasters/moovsmart/dto/form/AuctionStatusTypeOption.java
  src/main/java/com/progmasters/moovsmart/dto/form/PropertyAdvertFormData.java
  src/main/java/com/progmasters/moovsmart/dto/list/PropertyAdvertDetailsData.java
  src/main/java/com/progmasters/moovsmart/service/PropertyAdvertService.java
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE

Add AuctionStatusType to FE
  moovsmart/src/app/components/property-form/property-form.component.html
  moovsmart/src/app/components/property-form/property-form.component.ts
Due: Lint FE, Compile FE, FE karma test, Package FE

modify application.yaml
  moovsmart/src/app/components/property-form/property-form.component.ts
  src/main/resources/application.yaml
Due: Lint FE, Compile FE, Compile BE, BE mvn test, FE karma test, Package BE, Package FE
